data/tweets_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="usertype">
        <xsd:sequence>
            <xsd:element name="username" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="location" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="userstype">
        <xsd:sequence>
            <xsd:element name="user" type="usertype" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="retweettype">
        <xsd:sequence>
            <xsd:element name="created_at" type="xsd:dateTime"/>
            <xsd:element name="retweeted_by" type="usertype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="retweetstype">
        <xsd:sequence>
            <xsd:element name="retweet" type="retweettype" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="tweettype">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="created_at" type="xsd:dateTime"/>
            <xsd:element name="content" type="xsd:string"/>
            <xsd:element name="location" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tweeted_by" type="usertype"/>
            <xsd:element name="mentions" type="userstype" minOccurs="0"/>
            <xsd:element name="likes" type="userstype" minOccurs="0"/>
            <xsd:element name="retweets" type="retweetstype" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="tweetstype">
        <xsd:sequence>
            <xsd:element name="tweet" maxOccurs="unbounded" type="tweettype"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="tweets" type="tweetstype"/>

</xsd:schema>
